.App {
  text-align: center;
}
.btnklf {
  width: 63px;
  height: 40px;
  display: flex;
  align-items: center;
  /* margin-top: 1.2em; */
  /* padding: 0 0.5em; */
}
.btnklf input {
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.btnklf input::before,
.btnklf input::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 50px;
}
.btnklf input:checked::before {

  transform: translate(-50%, -50%);
}
.btnklf input::after {
  width: 10px;
  height: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 50px;
  transform: translate(-80%, -50%);
  transition: all 0.4s;
}
.btnklf input:checked::after {
  width: 41px;
  height: 40px;
  border-radius: 50px;
  transform: translate(-15%, -50%);
  z-index: 10;
}
.btnklf label {
  margin-left: 0.5em;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
color: white;
   
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width:920px){
  .secondpart{
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0%;
  }
  
  .gjhas{
    align-items: center;
      justify-content: center;
  }
  .inner{
    margin-top: 20px; 
  }
.secondpartert{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.trWrapper {
    
    margin-top: 25px;
}






    }



    .trWrapper{
      margin-top: 25px;
    }